/*Navbar*/

body {
	position: relative;
}
.CS {
	padding: 10px;
}
.anchor {
	padding-top: 10px
}
.mail:visited {
	color: #38eeff;
}
/*** Main text ***/

#carousel-example-generic {
	padding-top: 53px;
}

#columns {
	margin: 20px 0 0;
	font-family: 'Pontano Sans', sans-serif;
}

#image4 {
	height: auto;
}
#image7 {
	height: auto;
}
.btn {
	margin: 0 20px 10px;
}
.caption p {
	font-size: 1.5em;
	font-family: 'Pontano Sans', sans-serif;
	text-align: center;
	position: relative;
	display: block !important;
}
ul#skill-list > li {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 16px;
}
/***work***/
.work-img {
	display: block;
	margin: auto;
	max-width: 200px;
	position: relative;
}
.info {
	position: absolute;
	top: 15%;
	left: 22%;
	color: #fff;
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 0.5em;
	line-height: 1.6;
	display: none;
}
.proj-title {
	font-weight: 100;
}

/**** About ****/

#about {
	background-color: #42e5f4;
	width: auto;
	padding-bottom: 20px;
}
#story {
	display: block;
	margin: auto;
	width: 60%;
}

.header h1 {
	text-align: center;
	margin: 20px;
	font-style: bold;
}
img {
	max-width: 100%;
}
@media (max-width: 767px) {
	.container-fluid p {
		display: none !important;
	}
}
@media (max-width: 480px) {
	body.about {
		background-image: none !important;
		background-color: #42e5f4;
	}
}
#linkedin {
	display: block;
	margin: auto;
	width: 60%;
	font-style: bold;
}

/*About typography*/

.header h1 {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 40px;
}
.header h3 {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 30px;
}
#about {
	font-family: 'Pontano Sans', sans-serif;
	color: #000000;
	font-size: 18px;
	-webkit-margin-before: 0;
}
.main_text h3 {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 30px;
	text-align: center;
}
.main_text p {
	font-size: 18px;
	font-family: 'Pontano Sans', sans-serif;
}
/*** contact ***/

#contact {
	width: 100%;
	color: black;
	padding-top: 50px;
	text-align: left;
	font-family: 'Pontano Sans', sans-serif;
}
#information {
	text-align: center;
	display: inline;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 1em;
} 
span.glyphicon:hover {
	background-color: white;
}
.contact h1 {
	color: #383838;
}

/** form **/

#phone,
#name {
	margin-bottom: 10px;
	width: 100%;
}
#form {
	margin: 10px;
	position: relative;
	font-family: 'Pontano Sans', sans-serif;
	text-transform: uppercase;
}

/*Learn More*/

.learn-more {
	text-align: left;
	float: left;
	padding-left: 15px;
}
.modal-button {
	float: right;
	padding: 15px;
}
#resume {
	height: 500px;
	width: 100%;
	padding: 10px;
}
.top {
	background-color: #c2d6df;
}
.panel-title {
	font-family: 'Pontano Sans', sans-serif;
}
.panel-heading {
	background-color: #c2d6df;
}
.panel-body {
	font-family: 'Pontano Sans', sans-serif;
	text-decoration: none;
}

/*resume*/
#resume {
	height: 400px;
	width: 100%;
}

/*footer*/

.twitter-follow-button {
	margin: 10px;
	float: right;
}
.fb-like {
	margin: 10px;
	position: relative;
	left: 50%;
}